{
	frankenphp {
		php_ini display_errors "off"
		php_ini log_errors "on"
		php_ini error_reporting "E_ALL & ~E_DEPRECATED & ~E_STRICT"
		php_ini upload_max_filesize "512M"
		php_ini post_max_size "512M"
	}
}

localhost {
	root public/

	encode zstd br gzip

	request_body {
		max_size 512MB
	}

	php_server {
		try_files {path} index.php
	}
}
