includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database
        - routes
        - tests

    # 8 is the highest level
    level: 5

    ignoreErrors:
        - '#\(App\\Models\\User(\|null)?\) does not accept Illuminate\\Contracts\\Auth\\Authenticatable#'
        - '#PHPDoc tag @return with type array\|Illuminate\\Support\\Collection is not subtype of native type Illuminate\\Support\\Collection#'
        - '#Unsafe usage of new static#'
        - '#is not subtype of native type (Illuminate\\Support|Illuminate\\Database\\Eloquent)\\Collection#'
        - '#expects Countable\|iterable, Illuminate\\Contracts\\Pagination\\LengthAwarePaginator given#'
        - '#expects App\\Models\\User\|null, Illuminate\\Contracts\\Auth\\Authenticatable\|null given#'
        - '#expects .*, Mockery\\LegacyMockInterface given#'
        - '#Call to an undefined method Illuminate\\Filesystem\\FilesystemAdapter::getAdapter\(\)#'
        - '#Call to an undefined method Mockery\\ExpectationInterface|Mockery\\HigherOrderMessage::with\(\)#'
        - '#Call to private method .*\(\) of parent class Illuminate\\Database\\Eloquent\\Builder<Illuminate\\Database\\Eloquent\\Model>#'
        - '#should return App\\Models\\.*(\|null)? but returns .*Illuminate\\Database\\Eloquent\\Model(\|null)?#'
        # Laravel factories allow declaration of dynamic methods as "states"
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Factories\\Factory::#'
        - '#expects App\\Models\\User\|null, Illuminate\\Database\\Eloquent\\Collection\|Illuminate\\Database\\Eloquent\\Model given#'
        - '#Method App\\Models\\.*::query\(\) should return App\\Builders\\.*Builder but returns Illuminate\\Database\\Eloquent\\Builder<Illuminate\\Database\\Eloquent\\Model>#'
        - '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection<int,Illuminate\\Database\\Eloquent\\Model>::each\(\) expects callable\(Illuminate\\Database\\Eloquent\\Model, int\)#'


    excludePaths:
        - ./routes/console.php
        - ./app/Services/Util.php

    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
