<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" cacheResult="true"
         backupStaticAttributes="false" bootstrap="bootstrap/autoload.php" colors="true"
         convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true"
         processIsolation="false" stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app/</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_URL" value="http://localhost/"/>
        <env name="APP_KEY" value="16efa6c23c2e8c705826b0e66778fbe7"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="LASTFM_API_KEY" value="foo"/>
        <env name="LASTFM_API_SECRET" value="bar"/>
        <env name="YOUTUBE_API_KEY" value="foo"/>
        <env name="ADMIN_EMAIL" value="koel@example.com"/>
        <env name="ADMIN_NAME" value="Koel"/>
        <env name="ADMIN_PASSWORD" value="SoSecureK0el"/>
        <env name="BROADCAST_DRIVER" value="log"/>
        <env name="CACHE_MEDIA" value="true"/>
        <ini name="memory_limit" value="512M"/>
    </php>
</phpunit>
