node_modules

### Node ###
# Logs
logs
*.log
npm-debug.log*node_modules

### Node ###
# Logs
logs
*.log
npm-debug.log*

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

### Sass ###
.sass-cache/
*.css.map

.nyc_output
*.swp
*.swo
*~

__coverage__
