@import './vendor/reset.pcss';
@import '@modules/nouislider/distribute/nouislider.min.css';
@import './partials/vars.pcss';
@import './partials/mixins.pcss';
@import './partials/shared.pcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body, html {
    @apply h-screen relative;
  }
}
