css
fonts

# Ignore all (generated) images under img/, but keep the folder structure
img/*
!img/icon.png
!img/favicon.ico

!img/storage
img/storage/*
!img/storage/.gitkeep

vendor/*

images
js
manifest.json
manifest-remote.json
hot
mix-manifest.json
.user.ini
build
.htaccess
