css
fonts

# Ignore all (generated) images under img/, but keep the folder structure
img/*
!img/icon.png
!img/favicon.ico
!img/covers
img/covers/*
!img/covers/.gitkeep
!img/artists
img/artists/*
!img/artists/.gitkeep
img/playlists/*
!img/playlists/.gitkeep

images
js
manifest.json
manifest-remote.json
hot
mix-manifest.json
.user.ini
build
