{
    "name": "Koel",
    "start_url": "https://your.koel.host",
    "display": "standalone",
    "orientation": "portrait",
    "icons": [{
      "src": "/img/icon.png",
      "sizes": "192x192",
      "type": "image/png"
    }],
    "background_color": "#181818",
    "description": "Personal audio streaming service that works.",
    "theme_color": "#181818"
}
