@charset "utf-8";

@import '#/vendor/_reset.scss';

@import '@modules/nouislider/distribute/nouislider.min.css';
@import '@modules/font-awesome/css/font-awesome.min.css';

@import "#/partials/_vars.scss";
@import "#/partials/_shared.scss";
