.rich-text {
  @apply space-y-3;

  h2 {
    @apply text-xl font-semibold;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  ul {
    @apply list-disc pl-6;
  }

  ol {
    @apply list-decimal pl-6;
  }

  a {
    @apply text-k-highlight hover:text-k-fg;
  }
}
