:root {
  --color-text-primary: #fff;
  --color-text-secondary: rgba(255, 255, 255, .7);
  --color-bg-primary: #181818;
  --color-bg-secondary: rgba(255, 255, 255, .025);
  --color-highlight: #ff7d2e;

  --bg-image: none;
  --bg-position: center;
  --bg-attachment: fixed;
  --bg-size: cover;

  --font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-normal: 500;
  --font-weight-bold: 700;

  --header-height: 48px;
  --footer-height: 64px;
  --footer-height-mobile: 74px;
  --extra-panel-width: 334px;

  --color-black: #181818;
  --color-maroon: #bf2043;
  --color-green: #56a052;
  --color-blue: #0191f7;
  --color-red: #c34848;
}

$plyr-blue: var(--color-highlight);
