name: End to End Tests
on:
  push:
    branches:
      - master
      - next
  pull_request:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        containers: [ 1, 2 ]
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          tools: composer:v2
          extensions: pdo_sqlite
      - name: Install PHP dependencies
        uses: ramsey/composer-install@v2
        with:
          composer-options: --prefer-dist
      - name: Generate app key
        run: php artisan key:generate --quiet
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Run E2E tests
        uses: cypress-io/github-action@v2
        with:
          build: yarn build --no-progress
          start: php artisan serve --port=8080 --quiet
          wait-on: 'http://localhost:8080'
          quiet: true
          record: true
          parallel: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
